name: terraform lint
run-name: ${{ github.ref_name }} by @${{ github.actor }} ${{ github.workflow }}
on:
  pull_request:
    paths:
      - .github/workflows/terraform.lint.yaml
      - '**.tf'
      - '**.hcl'
      - '**.template'
env:
  TF_TOKEN_app_terraform_io: ${{ secrets.TERRAFORM_CLOUD_API_TOKEN }}
jobs:
  lint:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: terraform
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup terraform
        uses: hashicorp/setup-terraform@v2
      - name: Terraform init
        run: terraform init
      - name: Terraform format
        run: terraform fmt -recursive -check
      - name: Terraform validate
        run: terraform validate
